html {
    font-size: 62.5%;
}

*,
*:hover,
*:focus {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
    outline: none;
}

input {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

body {
    font-family: $primary-font;
    background-color: #f3f5f7;
    font-size: 1.6rem;
    box-sizing: border-box;
}

.App {
    &--loading {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .spinner-container {
        >div {
            color: #000;
        }
    }

    .no-result {
        font-size: 18px;
        text-align: center;
        flex: 2;
    }
}